<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /my-react-app/

  # Always serve index.html for React routes
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /my-react-app/index.html [L]
</IfModule>